<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fusion Mart &mdash; Login User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style type="text/css">
      input[type=number]::-webkit-inner-spin-button {
          opacity: 1
      }
    </style>
  </head>
  <body>

  <div class="site-wrap">


    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{{ url_for('app.index') }}" class="js-logo-clone">Fusion Mart</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a href="{{ url_for('app.index') }}">Home</a></li>

                <li class="">
                  <a href="{{ url_for('app.items_filter') }}">Items</a>
                </li>
                {% if(user.is_authenticated) %}
                <li class="">
                  <a href="{{ url_for('app.my_orders') }}">My Orders</a>
                </li>
                {% if(user.isUser) %}<li class="">
                  <a href="{{ url_for('app.profile') }}">My Profile</a>
                </li> {% endif %}
                {% else %}
                <li class=""><a href="contact.html">Contact</a></li>
                <li class="has-children active">
                  <a href="#">Login as</a>
                  <ul class="dropdown">
                    <li><a href="{{ url_for('auth.login') }}">User</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Admin</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>

          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            {% if(user.is_authenticated) %}
              <a href="{{ url_for('app.cart') }}" class="icons-btn d-inline-block bag">
                <span class="icon-shopping-cart"></span>
                <span class="number">{{ cart_items }}</span>
              </a>
              <a href="{{ url_for('auth.logout') }}" class="icons-btn d-inline-block sign-out">
                <span class="icon-sign-out"></span>
              </a>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-border-bottom py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{{ url_for('app.index') }}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shopping Cart</strong></div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black" align="center">Shopping Cart</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black" align="center">&nbsp;</h2>
          </div>
        </div>
        <div class="row" {% if(cart_items == 0) %} style="padding: 100px; border: 1px solid black; border-radius: 10px;" {% endif %}>
          {% if(cart_items == 0) %}
          <div class="col-md-12">
            <h5>It seems like no items in the cart .... (<a href="{{ url_for('app.items_filter') }}">Add Items to Cart !</a>)</h5>
          </div>
          {% else %}
          <div class="col-md-8">
            <table class="table table-bordered">
              {% set total=[] %}
              <thead>
                <th>
                  I_ID
                </th>
                <th>
                  Image
                </th>
                <th>
                  Name
                </th>
                <th>
                  Price
                </th>
                <th>
                  Qty
                </th>
                <th>
                  Total
                </th>
              </thead>
              <tbody>
                {% for item in cart_response %}
                  {% set dummy = total.append(cart_response[item].total_price) %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td><img src="{{ item[0].url }}" height="80" width="80"/></td>
                    <td>{{ item[0].name }}</td>
                    <td>{{ item[0].price }}</td>
                    <td><input type="number" class="form-control" style="width: 100px;" min="1" value="{{ cart_response[item].quantity }}" onchange="updateCartItem({{ cart_response[item].id }}, this.value)"/></td>
                    <td>{{ cart_response[item].total_price }}</td>
                    <td><a href="/deleteItem/{{ cart_response[item].id }}/"><span class="icon-trash"></span></a></td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <th colspan="5" style="text-align: right">Total</th>
                <td>{{ total|sum }}</td>
              </tfoot>
            </table>
            <!-- <form action="/auth/login" method="post">

              <div class="p-3 p-lg-5 border">
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_email" class="text-black">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="c_email" name="username" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_password1" class="text-black">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="c_password1" name="password">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Login">
                  </div>
                </div>
              </div>
            </form> -->
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2" style="text-align: center; font-size: 20px;">Price Breakout</th>
                  </tr>
                  <tr>
                    <th>Pickup Type</th>
                    <td><input type="radio" name="pickup" checked="true" value="store" onchange="document.getElementById('pickup').value = this.value; document.getElementById('pkup_ch').innerHTML = '0.0';document.getElementById('gr_ttl').innerHTML = parseFloat(document.getElementById('ttl').innerHTML);"> Store&nbsp;&nbsp;<input type="radio" name="pickup" value="home" onchange="document.getElementById('pickup').value = this.value;document.getElementById('pkup_ch').innerHTML = '200.0';document.getElementById('gr_ttl').innerHTML = '' + parseFloat(parseFloat(document.getElementById('ttl').innerHTML) + 200);"> Home Delivery</td>
                  </tr>
                  <tr>
                    <th>Total Price</th>
                    <td><span id="ttl">{{ total|sum }}</span></td>
                  </tr>
                  <tr>
                    <th>Pickup Charge</th>
                    <td><span id="pkup_ch">0.0</span></td>
                  </tr>
                  <tr>
                    <th>Grand Total</th>
                    <td><span id="gr_ttl">{{ total|sum }}</span></td>
                  </tr>
                  <!-- <tr>
                    <td colspan="2" align="center"><input type="checkbox" onchange="if(this.checked) { document.getElementById('promocode').style.visibility = 'visible'; } else { document.getElementById('promocode').style.visibility = 'hidden'; }"/> Apply Promocode ?</td>
                  </tr>
                  <tr class="no-border" style="visibility: hidden; border: none;">
                  </tr> -->
                </tbody>
              </table>
                <div class="row">
                  <div class="col-md-12" align="center">
                    <form action="{{ url_for('app.checkout') }}" method="post">
                      <input type="hidden" id="pickup" name="pickup" value="store"/>
                      <button href="" class="btn btn-primary">Checkout & Place order</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row" id="promocode" style="visibility: hidden;">
              <div class="col-md-8"><input type="text" style="float: right;"/></div>
              <div class="col-md-4"><input type="button" value="Apply"/></div>
            </div>
            &nbsp;
            <div class="row">
              <div class="col-md-12" align="center">
                <input type="button" class="btn btn-primary" value="Checkout & Place order"/>
              </div>
            </div> -->
          </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="{{ url_for('static', filename='images/about_1.jpg') }}" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Products This Season</h3>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Items</a></li>
                  {% if(user.is_authenticated) %}
                  <li><a href="#">My Orders</a></li>
                  {% else %}
                  <li><a href="#">Login</a></li>
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  {% if(user.is_authenticated) %}
                  <li><a href="#">My Orders</a></li>
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">Shopping Cart</a></li>
                  {% else %}
                  <li><a href="#">Register</a></li>
                  <li><a href="#">Track Order</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">customercare@fusionmart.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="http://localhost:5000/" target="_blank" class="text-primary">Fusion Mart</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script type="text/javascript">
    function updateCartItem(id, qty) {
      $.post({
        url: "/updateQty/",
        contentType: "application/json",
        data: JSON.stringify({ cid: id, iqty: qty }),
        success: function(response) {
          console.log("Success:", response);
          window.location.reload()
        },
        error: function(xhr, status, error) {
          console.error("Error:", error);
        }
      });
    }
  </script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>