<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fusion Mart &mdash; Login User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  </head>
  <body>

  <div class="site-wrap">


    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{{ url_for('app.index') }}" class="js-logo-clone">Fusion Mart</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="{{ url_for('app.index') }}">Home</a></li>
                <li><a href="{{ url_for('app.items_filter') }}">Items</a></li>
                <li class="has-children">
                  <a href="#">Login as</a>
                  <ul class="dropdown">
                    <li><a href="{{ url_for('auth.login') }}">User</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Admin</a></li>
                  </ul>
                </li>
                <li class="active"><a href="{{ url_for('app.track_order') }}">Track Order</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-border-bottom py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{{ url_for('app.index') }}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Track Order</strong></div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black" align="center">Track Order Detail - {{ order.order_id }}</h2>
          </div>
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black" align="center">&nbsp;</h2>
          </div>
          <div class="col-md-12">
              <div class="border p-3 mb-5">
              <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">Order : {{ order.order_id }}</a></h3>
              <div class="collapse show" id="collapse">
                <br/>
                <table class="table table-bordered">
                  <tr>
                    <th>Mail</th>
                    <td>{{ order.user_email }}</td>
                  </tr>
                  <tr>
                    <th>Items</th>
                    <td>
            <table class="table table-bordered">
              {% set total=[] %}
              <thead>
                <th>
                  I_ID
                </th>
                <th>
                  Image
                </th>
                <th>
                  Name
                </th>
                <th>
                  Price
                </th>
                <th>
                  Qty
                </th>
                <th>
                  Total
                </th>
              </thead>
              <tbody>
                {% for item in order.cart_item %}
                  {% set dummy = total.append(item.total_price) %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td><img src="{{ item.getItem().url }}" height="80" width="80"/></td>
                    <td>{{ item.getItem().name }}</td>
                    <td>{{ item.getItem().price }}</td>
                    <td><input type="number" class="form-control" style="width: 100px;" min="1" value="{{ item.quantity }}" disabled/></td>
                    <td>{{ item.total_price }}</td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <th colspan="5" style="text-align: right">Total</th>
                <td>{{ total|sum }}</td>
              </tfoot>
            </table>
                    </td>
                  </tr>
                  {% if(order.payments[0].amount != (total|sum)) %}
                  <tr>
                    <th>Pickup Charges</th>
                    <td>200.0</td>
                  </tr>
                  {% endif %}
                  <tr>
                    <th>Grand Total</th>
                    <td>{{ order.payments[0].amount }}</td>
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td>{{ order.getAddress().street }},  {{ order.getAddress().street1 }}, {{ order.getAddress().state }}, {{ order.getAddress().country }} - {{ order.getAddress().postal }}, (+1) {{ order.getAddress().mobile }}</td>
                  </tr>
                  <tr>
                    <th>Order Status</th>
                    <td>{{ order.order_status }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="{{ url_for('static', filename='images/about_1.jpg') }}" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Products This Season</h3>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Items</a></li>
                  {% if(user.is_authenticated) %}
                  <li><a href="#">My Orders</a></li>
                  {% else %}
                  <li><a href="#">Login</a></li>
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  {% if(user.is_authenticated) %}
                  <li><a href="#">My Orders</a></li>
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">Shopping Cart</a></li>
                  {% else %}
                  <li><a href="#">Register</a></li>
                  <li><a href="#">Track Order</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">customercare@fusionmart.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="http://localhost:5000/" target="_blank" class="text-primary">Fusion Mart</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>