<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fusion Mart &mdash; Login User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <style type="text/css">
      input[type=number]::-webkit-inner-spin-button {
          opacity: 1
      }
    </style>
  </head>
  <body>

  <div class="site-wrap">


        <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{{ url_for('app.index') }}" class="js-logo-clone">Fusion Mart</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="{{ url_for('admin.index') }}">Dashboard</a></li>

                <li class="has-children">
                  <a href="{{ url_for('admin.view_departments') }}">Departments</a>
                  <ul class="dropdown">
                    <li><a href="{{ url_for('admin.add_department') }}">Add Department</a></li>

                  </ul>
                </li>
                <li class="has-children">
                  <a href="{{ url_for('admin.view_categories') }}">Categories</a>
                  <ul class="dropdown">
                    <li><a href="{{ url_for('admin.add_category') }}">Add Category</a></li>

                  </ul>
                </li>
                <li class="has-children active">
                  <a href="{{ url_for('admin.view_items') }}">Items</a>
                  <ul class="dropdown">
                    <li class="active"><a href="{{ url_for('admin.add_item') }}">Add Item</a></li>

                  </ul>
                </li>
                <li class="has-children">
                  <a href="{{ url_for('admin.view_promocodes') }}">Promocodes</a>
                  <ul class="dropdown">
                    <li><a href="{{ url_for('admin.add_promocode') }}">Add Promocode</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="{{ url_for('admin.orders') }}">Orders</a>

                  <ul class="dropdown">
                    <li><a href="/admin/orders/SUCCESS/">Successful</a></li>
                    <li><a href="/admin/orders/PLACED/">Placed</a></li>
                    <li><a href="/admin/orders/READY/">Ready</a></li>
                  </ul>>
                </li>
              </ul>
            </nav>
          </div>

          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>

            <a href="{{ url_for('auth.logout') }}" class="icons-btn d-inline-block sign-out">
              <span class="icon-sign-out"></span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-border-bottom py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{{ url_for('admin.index') }}">Home</a> <span class="mx-2 mb-0">/</span><a href="{{ url_for('admin.view_items') }}">Items</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Add Item</strong></div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <h3 align="center">Item Details</h3>
            <form action="/admin/add_item/" method="post">

              <div class="p-3 p-lg-5 border">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="dept_id" class="text-black">Department <span class="text-danger">*</span></label>
                    <select class="form-control" id="dept_id" name="dept_id">
                    {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.name }}</option>
                    {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="cat_id" class="text-black">Category <span class="text-danger">*</span></label>
                    <select class="form-control" id="cat_id" name="cat_id">
                      {% for category in departments[0].categories %}
                        <option value="{{ category['id'] }}">{{ category["name"] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="img_name" class="text-black">Item Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="img_name" name="img_name" placeholder="Enter the name" oninput="document.getElementById('image_name').innerHTML = this.value;">
                  </div>
                  <div class="col-md-6">
                    <label for="img_price" class="text-black">Item Price <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="img_price" name="img_price" placeholder="Enter the price" oninput="document.getElementById('preview_price').innerHTML = this.value;">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="img_desc" class="text-black">Item Description <span class="text-danger">*</span></label>
                    <textarea rows="5" class="form-control" placeholder="Enter the description" id="img_desc" name="img_desc" oninput="document.getElementById('image_desc').innerHTML = this.value;"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="img_url" class="text-black">Image URL <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="img_url" name="img_url" placeholder="Enter the image URL" oninput="document.getElementById('preview_img').src = this.value;">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Add Item">
                  </div>
                </div>
              </div>
            </form>
          </div>
            <div class="col-md-3 mb-2">
            <h3 align="center">Preview</h3>
                <div class="card">
                  <img height="250" id="preview_img" src="{{ url_for('static', filename='images/preview.png') }}" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title"><b id="image_name">Name</b>&nbsp;&nbsp;<b id="preview_price" style="font-size: 15px; color: #ee4266;">0</b>&nbsp;<b style="font-size: 17px;">$</b></h4>
                    <p class="card-text" id="image_desc">Description-Some quick example text to build ..</p>
                    <p align="center">
                      <input type="number" class="form-control" style="width: 100px; float: left;" value="0" disabled>
                      <input type="button" align="center"  style="float: right;" class="btn btn-primary" value="Add to Cart" disabled>
                    </p>
                    </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="{{ url_for('static', filename='images/about_1.jpg') }}" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Products This Season</h3>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Items</a></li>
                  {% if(user.is_authenticated) %}
                  <li><a href="#">My Orders</a></li>
                  {% else %}
                  <li><a href="#">Login</a></li>
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  {% if(user.is_authenticated) %}
                  <li><a href="#">My Orders</a></li>
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">Shopping Cart</a></li>
                  {% else %}
                  <li><a href="#">Register</a></li>
                  <li><a href="#">Track Order</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">customercare@fusionmart.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="http://localhost:5000/" target="_blank" class="text-primary">Fusion Mart</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script>
    $('#dept_id').change(function () {
        $.ajax({
            url: '/admin/getDepartment/' + $('#dept_id option:selected').val() + '/', // this is the variable we declared in the template file
            type: 'GET',
            contentType: false
        }).done(function (res) {
            $('#cat_id option').remove();
            $.each(res["categories"], function (i, item) {
                alert(item);
                $('#cat_id').append($('<option>', {
                    value: item["id"],
                    text : item["name"]
                }));
            });
        });
    });
  </script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>